/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
}

/* Container geral para limitar a largura máxima */
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Header: Estilização da logo, do menu e do menu hamburguer */
header {
    background-color: #f8f8f8;
    padding: 10px 0;
    border-bottom: 2px solid #e0e0e0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}



.logo img {
    width: 200px;
    height: auto;
}

/* Ícone do menu hamburguer */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle span {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px;
    transition: all 0.3s;
}

/* Estilos do menu de navegação */
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px 15px;
    display: block;
    text-align: center;
}

nav ul li:hover > .submenu {
    display: block;
}

/* Submenu padrão (escondido) */
.submenu {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    top: 100%;
    left: 0;
    width: max-content;
    z-index: 1000;
}

/* Submenu ativo em dispositivos móveis */
.submenu-active {
    display: block;
    position: static;
    width: 100%;
    box-shadow: none;
}


.submenu li a {
    padding: 10px 15px;
}
.service-banner{
    max-width: 1140px;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin: auto;
    justify-content: center;
}

.service-banner h3{
    align-items: center;
    

}

.service-banner img{
    width: 100%;
    object-fit: cover;
    height: auto;
}
.service-details {

    max-width: 1140px;
    flex-direction: column;
    width: 100vw;
    margin: auto;
    display: flex;
    align-items: center;
    background-color: #fff;
    margin-bottom: 20px;
    line-height: 25px;
}
.service-details h2, h3{
    text-align: center;
    align-items: center;
    line-height: 25px;
}

.service-details p, li{
    line-height: 25px;
}

.impermeabilizacion h2, h3  {
    
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
    color:#ff5722;
    margin-top: 15px;
}

.impermeabilizacion p{
    line-height: 25px;
    text-align: justify;
    justify-content: center;
}

.team-banner {
    max-width: 1140px;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.team-banner img {
    width: 100%;
    height: auto;    
    border-radius: 5px;
    object-fit: cover;
}

.banner-text-intro h3 {
    color: #ff5722;
    text-align: center;
}
.banner-text-intro p{

    line-height: 25px;
}
.banner-text {
    max-width: 1140px;
    margin: auto;
    justify-content: center;
    text-align: center;
    align-items: center;
    line-height: 25px;

}

.banner-text h2 {
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ff5722;
}

.banner-text h3{
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ff5722;

}

.banner-text p{
    line-height: 25px;
}

.ventajas{
    max-width: 1140px;
    margin: auto;
    
}

.ventajas h3{
    color: #ff5722;
    font-size: 20px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
}

.ventajas-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    text-align: left;
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

.ventajas-list li {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 10px;
}
.ventajas h3{
    justify-content: center;
    text-align: center;
    color: #ff5722;
}
.call-to-action {
    margin-top: 30px;
    text-align: center;
}

.call-to-action .btn {
    
    background-color: #ff5722;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    margin: 10px;
    display: inline-block;
}

.call-to-action .btn:hover {
    background-color: #e64a19;
}

/* Rodapé (Footer) */
.footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
}

.footer-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-column {
    width: 300px;
}

.footer-column h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #ff5722;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-column ul li a:hover {
    color: #ff5722;
}

.footer-column img {
    width: 30px;
    margin-bottom: 10px;
}

.footer-column a {
    color: #ff5722;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-column a:hover {
    color: #e64a19;
}

/* Botão Flutuante do WhatsApp */
.whatsapp-float {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.whatsapp-float img {
    width: 50px;
    height: 50px;
    transition: transform 0.3s;
}

.whatsapp-float:hover img {
    transform: scale(1.1);
}
